# Linear Regression on new dataset

In [7]:
import numpy as np
import pandas as pd
import math

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [8]:
data_path = r"D:\RideWise-Predicting-Bike-sharing-Demand\Data\day(new).csv"

In [9]:
df_new = pd.read_csv("D:\RideWise-Predicting-Bike-sharing-Demand\Data\day(new).csv")

In [10]:
df_new.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [11]:
# Drop unwanted columns
columns_to_drop = ['instant', 'casual', 'registered','dteday','atemp']
df_new = df_new.drop(columns=columns_to_drop)
print(f"Unwanted columns are: {columns_to_drop}")

Unwanted columns are: ['instant', 'casual', 'registered', 'dteday', 'atemp']

In [12]:
# Create weekend column (1 if weekend, 0 if not weekend)
df_new['weekend'] = ((df_new['weekday'] == 0) | (df_new['weekday'] == 6)).astype(int)
print("Created weekend column (1 for weekend, 0 for weekday)")

Created weekend column (1 for weekend, 0 for weekday)

In [13]:
df_new.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt,weekend
0,1,0,1,0,6,0,2,14.110847,80.5833,10.749882,985,1
1,1,0,1,0,0,0,2,14.902598,69.6087,16.652113,801,1
2,1,0,1,0,1,1,1,8.050924,43.7273,16.636703,1349,0
3,1,0,1,0,2,1,1,8.200000,59.0435,10.739832,1562,0
4,1,0,1,0,3,1,1,9.305237,43.6957,12.522300,1600,0

In [14]:
# Multicollinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor
def Calculate_vif(X):
    '''
    Calculating VIF
    '''
    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [15]:
Calculate_vif(df_new[[i for i in df_new.describe().columns if i not in ['cnt']]])

     variables        VIF
0       season   3.533222
1           yr   1.020927
2         mnth   3.325725
3      holiday   2.284460
4      weekday   1.021473
5   workingday  33.650138
6   weathersit   1.738609
7         temp   1.215146
8          hum   1.905125
9    windspeed   1.165212
10     weekend  14.578699

In [16]:
df_new = df_new.drop(columns=['weekend'])
df_new = df_new.drop(columns=['season'])

In [17]:
Calculate_vif(df_new[[i for i in df_new.describe().columns if i not in ['cnt']]])

    variables        VIF
0          yr   1.944217
1        mnth   5.032704
2     holiday   1.098641
3     weekday   3.096443
4  workingday   3.258652
5  weathersit  13.038315
6        temp   8.599287
7         hum  25.441223
8   windspeed   5.292985

In [18]:
df_new = df_new.drop(columns=['hum'])

In [19]:
Calculate_vif(df_new[[i for i in df_new.describe().columns if i not in ['cnt']]])

    variables       VIF
0          yr  1.944191
1        mnth  4.582960
2     holiday  1.092670
3     weekday  3.082351
4  workingday  3.217273
5  weathersit  6.125517
6        temp  6.699629
7   windspeed  5.247690

In [20]:
df_new.head()

,yr,mnth,holiday,weekday,workingday,weathersit,temp,windspeed,cnt
0,0,1,0,6,0,2,14.110847,10.749882,985
1,0,1,0,0,0,2,14.902598,16.652113,801
2,0,1,0,1,1,1,8.050924,16.636703,1349
3,0,1,0,2,1,1,8.200000,10.739832,1562
4,0,1,0,3,1,1,9.305237,12.522300,1600